*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    color: #fff;
}

.main{
    /* width: 100%; */
    max-width: 500px;
    margin: 0 auto;
    margin-top: 200px;
    background: #898989;
    padding-inline: 20px;
    padding-top: 15px;
    max-height: 500px;
    
}

#results{
    padding: 25px;
}

.height, .weight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
button{
    margin-top: 20px;
    padding: 10px 15px;
    border: 0;
    border-radius: 8px;
    /* padding-left: ; */
    margin-left: 170px;
    cursor: pointer;
}

.info{
    padding: 20px;
}

